body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    color: #00FF41 ;
    margin: auto 0;
    

}
nav{
    display: flex;
    background-color: #00FF41;
}
.push{
    margin-right: auto;
    
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.navimain a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

li {
    transition: all 1s;
    padding: 1em;
   display: inline-block; 

}
li:hover{
    transform: scale(1.1);
    background-color: aliceblue;
}
li a{

    cursor: pointer;
    transition: all 0.5s;
} 
li:hover{
    
cursor: pointer;
   
    
}

#tellwrong {
    color: red;
    
}

.inputslist  {
    display: grid;
    
    
}
.inputslist label{
    
    display: grid;
    justify-content: center;
    align-content: center;

}

.inputslist input{
    font-family: 'Press Start 2P', cursive;
    padding: 0.5em;
    
    border-radius: 25px;
    background-color: #00FF41;
}
.inputslist button{
    transition: all 0.5s;
    font-family: 'Press Start 2P', cursive;    
    background-color: #00FF41;
    border-radius: 1em;
    font-size: large;
    padding: 1em 3em 1em 3em ;
}
.inputslist button:hover{
    cursor: pointer;
    background-color: limegreen ;
    color: black;
}
.backa{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;

    position: absolute;
    z-index: -1;
}
label img{
    display: grid;
    width: auto;
    height: auto;
}
label p{
    text-align: center;
}
@media only screen and (max-width:600px){
    .navimain a{
        font-size: smaller;
    }
    li {
        
        padding: 0.3em;

        
    
    }
    .backa{       
    display: none
    }
    label img{
        display: grid;
        width: 30vh;
        height: 30vh;
    }   
};

:root {

    --animate-duration: 2900ms;
  }
  #sigin{
    color: black;
  }
  /* Standard syntax */
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  .apply-shake {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }
#h1opening{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(1fr,250px));
    text-align: center;
    font-size: larger;
    margin-top: 3em;
}
#h1opening h1{
    
    text-align: center;
    
    font-size: larger;
}
.fadeinclsss{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
/*#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;


}
*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}