body{
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    direction: ltr;
    color: #00FF41 ;
    margin: auto 0;
    

}
nav{
    border-bottom-right-radius:  5px;
    border-bottom-left-radius:  5px;

    display: flex;
    background-color: #00FF41;
}
.push{
    margin-right: auto;
    
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.navimain a {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

li {
    transition: all 1s;
    padding: 1em;
   display: inline-block; 

}
li:hover{
    transform: scale(1.1);
    background-color: aliceblue;
}
li a{

    cursor: pointer;
    transition: all 0.5s;
} 
li:hover{
    
cursor: pointer;
   
    
}

@media only screen and (max-width:600px){
    .navimain a{
        font-size: smaller;
    }
    li {
        
        padding: 0.5em;

        
    
    }   
};

.inputslist  {
    display: grid;
    
    
}
.inputslist label{
    margin-top: 2em;
    display: grid;
    justify-content: center;
    align-content: center;

}
.inputslist input{
    font-family: 'Press Start 2P', cursive;
    padding: 0.5em;
    
    border-radius: 25px;
    background-color: #00FF41;
}
.inputslist button{
    transition: all 0.5s;
    font-family: 'Press Start 2P', cursive;    
    background-color: #00FF41;
    border-radius: 1em;
    font-size: large;
    padding: 1em 3em 1em 3em ;
}
.inputslist button:hover{
    cursor: pointer;
    background-color: limegreen ;
    color: black;
}
.backa{
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;
}